{% extends "layout.html" %}

{% block content %}
<h1 class="mt-3 ml-5 mr-5">List of Trained Models</h1>
<h3 class="text-primary ml-5 mr-5"> Our Selected/Recommended Models are S.N. 4, 8 and 11.</h3>
<section class="m-3">
	<style>
	.my-custom-scrollbar {
		position: relative;
		height: 70%;
		overflow: auto;
		
	}
	.table-wrapper-scroll-y {
		display: block;
		width : 100%;
	}
	</style>
	<div class=" table-wrapper-scroll-y">
	<table class="my-custom-scrollbar table table-bordered table-hover table-responsive table-dark">
		<thead>
			<th>S.N</th>
			{% for x in best_model_columns %}
			<th>{{ x }}</th>			
			{% endfor %}
			<th>Predict Using</th>
		</thead>
		<tbody>
			{% for index,row in best_model_rows %}
			<tr>
				<td>{{ index }}</td>
			{% for x in row %}
				<td>{{ x }}</td>
			{% endfor %}
				<td><a href="{% url 'predict:selected_model' index 0 %}" class="btn btn-info" >Select Model</a></td>
			<tr>
			{% endfor %}
		</tbody>
		
	</table>
	</div>
	
</section>
{% endblock content %}