
{% extends "layout.html" %}
{% load static %}
{% block content %}
<h2>Predict Using Selected Model</h2>
<section class="container" style="opacity: 2;">
    <div class="card primary">
    <div class="card-header">
    <h3> You have Selected Row Index : {{ row_index }}</h3>
    </div>
    <div class="card-body">
    <p>Model Index : <b>{{ index }}</b></p>
    <p>Classification Model Name :  <b>{{ row.Clf_Model }} </b></p>
    <p>Top Ranking Method :  <b>{{ row.Top_Ranking_Model }} </b></p>
    <p>Number of Genes Selected :  <b>{{ row.No_Of_Genes }} </b></p>
    <p>Train Accuracy :  <b>{{ row.Train_Acc }} </b></p>
    <p>Test Accuracy :  <b>{{ row.Test_Acc }} </b></p>
    <p>Train Precision :  <b>{{ row.Train_Prec }}  </b></p>
    <p>Test Precision :  <b>{{ row.Test_Prec }}  </b></p>
    <p>Train Confusion Matrix :  <b>{{ row.Train_Conf }}  </b></p>
    <p>Test Confusion Matrix :  <b>{{ row.Test_Conf }}  </b></p>
    </div>
    </div>
	
    
    <hr><hr>
    <h3>Select Row Index of Data To Predict :<h3>
    <small>On Change the page will refresh and give the prediction for the selected index</small>
    <select class="form-group form-control" id="row_index" name="row_index">
    {% for i in prediction_options %}
        {% if row_index == i.0 %}
        <option value="{{ i.0 }}" selected>{{ i.0 }} : {{ i.1 }}</option>
        {% else %}
        <option value="{{ i.0 }}">{{ i.0 }} : {{ i.1 }}</option>
        {% endif %}
    {% endfor %}
    </select>
    <h3><u>Result </u></h3>
    <h4>Predicted Output : {{ predicted_result }}</h4>
    <h4>Actual Output : {{ actual_result }}</h4>
  <hr>
  <hr>
  <h2><u><b>Data Given as Input</b></u></h2>
  <h4>GEO ACC : {{ geo_acc }}</h4>
  <style>
	.my-custom-scrollbar {
		position: relative;
		height: 200px;
		overflow: auto;
	}
	.table-wrapper-scroll-y {
		display: block;
		width : 100%;
	}
	</style>
  <div class="my-custom-scrollbar table-wrapper-scroll-y mb-5">
  <table class="table table-active" >
    <thead>
      <th> Value's Rank According to it's Weight on Decision Making</th>
      <th>Input Value</th>
    </thead>
    
    {% comment %} {{ input_given }} {% endcomment %}
    {% for val in input_given%}
    <tr>
      <td>{{ val.0 }} </td>
      <td> {{ val.1 }} </td>
    </tr>
    {% endfor %}
    
  </table>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="waiting_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Wait For The Result</h5>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-border text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
      </div>
    </div>
  </div>
</div>
<script>
$( "#row_index" ).change(function() {
  var row_index = $(this).children("option:selected").val();
  $('#waiting_modal').modal('show');
  window.location.replace('/predict/selected_model/{{ index }}/'+row_index)
});
</script>
{% endblock content %}